@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
	--bg-nav: #0f172a;
	--bg-1: #0f172a;
	--bg-2: #1e293b;
	--bg-3: #334155;
	--bg-4: #475569;
	--bg-5: #64748b;

	--text-nav: #e2e8f0;
	--text: #e2e8f0;
	--text-inv: #0f172a;
	--accent: #f56565;
	--success: #48bb78;
	--warning: #ed8936;
	--info: #4299e1;
	--brand: #6d28d9;
	--selected: #c29ffc;
}

html.light {
	--bg-nav: #fff;
	--bg-1: #cbd5e1;
	--bg-2: #e2e8f0;
	--bg-3: #f1f5f9;
	--bg-4: #f8fafc;
	--bg-5: #fff;

	--text-nav: #334155;

	--text: #334155;
	--text-inv: #e2e8f0;
	--accent: #f56565;
	--success: #48bb78;
	--warning: #ed8936;
	--info: #4299e1;
	--brand: #6d28d9;
	--selected: #c29ffc;
}

html {
	--navbar-height: 64px;
}

html,
body {
	@apply font-light;
}

.sidebar li > a,
.settings-sidebar li > a {
	@apply w-full text-xs flex flex-row p-3 mb-2 space-x-2 rounded;
}
.sidebar li > a:hover,
.sidebar li > a.selected,
.settings-sidebar li > a:hover,
.settings-sidebar li > a.selected {
	background-color: var(--selected);
}

.links {
	@apply font-semibold;
}

.links ul {
	@apply flex flex-row justify-between space-x-3;
}

h2 {
	font-weight: bold;
	font-size: 1.5rem;
	line-height: 1.25;
	letter-spacing: -0.025em;
	color: #1a202c;
}

.main {
	height: calc(100vh - var(--navbar-height));
	background-color: var(--bg-4);
}
