@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
	--bg-nav: #0f172a;
	--bg-1: #0f172a;
	--bg-2: #1e293b;
	--bg-3: #334155;
	--bg-4: #475569;
	--bg-5: #64748b;

	--text-nav: #e2e8f0;
	--text: #e2e8f0;
	--text-inv: #0f172a;
	--accent: #f56565;
	--success: #48bb78;
	--warning: #ed8936;
	--info: #4299e1;
}

html.light {
	--bg-nav: #0f172a;
	--bg-1: #cbd5e1;
	--bg-2: #e2e8f0;
	--bg-3: #f1f5f9;
	--bg-4: #f8fafc;
	--bg-5: #fff;

	--text-nav: #e2e8f0;

	--text: #334155;
	--text-inv: #e2e8f0;
	--accent: #f56565;
	--success: #48bb78;
	--warning: #ed8936;
	--info: #4299e1;
}

html {
	--navbar-height: 64px;
}

html,
body {
	@apply font-light;
	background-color: var(--bg-4);
}
