@tailwind base;
@tailwind components;
@tailwind utilities;

html.sidebarShowing {
	--sidebar-left: 0;
}

html.sidebarHidden {
	--sidebar-left: -256px;
}

html.dark {
	--bg-nav: #0f172a;
	--bg-1: #0f172a;
	--bg-2: #1e293b;
	--bg-3: #334155;
	--bg-4: #475569;
	--bg-5: #64748b;

	--text-nav: #e2e8f0;
	--text: #e2e8f0;
	--text-inv: #0f172a;
	--accent: #f56565;
	--success: #48bb78;
	--warning: #ed8936;
	--info: #4299e1;
}

html.light {
	--bg-nav: #0f172a;
	--bg-1: #cbd5e1;
	--bg-2: #e2e8f0;
	--bg-3: #f1f5f9;
	--bg-4: #f8fafc;
	--bg-5: #fff;

	--text-nav: #e2e8f0;

	--text: #334155;
	--text-inv: #e2e8f0;
	--accent: #f56565;
	--success: #48bb78;
	--warning: #ed8936;
	--info: #4299e1;
}

html,
body {
	overflow: hidden;
	@apply font-light;
	background-color: var(--bg-1);
}

body > .sidebar,
body > .content {
	height: 100%;
}

.nav {
	@apply w-full h-12 flex justify-between z-50;
	background-color: var(--bg-nav);
	color: var(--text-nav);
}

.main {
	@apply w-full p-0 m-0 overflow-hidden;
	height: calc(100% - 48px - var(--safe-area-inset-bottom));
}

.sidebar {
	--safe-area-inset-bottom: env(safe-area-inset-bottom);
	@apply fixed transition-all duration-150 ease-in-out w-64;
	left: var(--sidebar-left);
	background-color: var(--bg-2);
	height: calc(100% - 48px);
}

.content {
	@apply overflow-scroll py-6 pr-6 transition-all duration-150 ease-in-out;
	background-color: var(--bg-4);
	color: var(--text);
	height: calc(100vh - 48px);
}

.profile {
	@apply bottom-0 w-full h-14 absolute;
	background-color: var(--bg-1);
}

button {
	@apply p-3 hover:opacity-80 rounded;
}
